APP_ENV=development
APP_BASE_DIR=/web/app
APP_SERVER_ADMIN=nomail@example.org
APP_TIMEZONE=Europe/Madrid
APP_WEB_DOMAIN=localhost
APACHE_DOCUMENT_ROOT=/web/app/public
APACHE_RUN_USER=usuario
APACHE_RUN_GROUP=usuario
